<div id="banner2">
    <img src="~/images/bg3.jpg" id="banner2" style="filter:blur(14px);position:absolute;height:100%;width:100%" />
    <div class="container " style="   ;
            justify-content: center;
            margin-top: 271px;
            display: inherit;">
        <article class="card card--4" style="    height: 41vh;">
            <div class="card__info-hover">
                <svg class="card__like" viewBox="0 0 24 24">
                </svg>


            </div>
            <div class="card__img"></div>
            <a asp-action="Index" asp-controller="Admin" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <h3 class="card__title"> Manage Doctor </h3>
                
            </div>
        </article>


        <article class="card card--5" style="    height: 41vh;">
            <div class="card__info-hover">
                <svg class="card__like" viewBox="0 0 24 24">
                </svg>


            </div>
            <div class="card__img"></div>
            <a asp-action="AppointmentIndex" asp-controller="Admin" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <h3 class="card__title">Manage Appointments</h3>
                
            </div>
        </article>
    </div>
</div>