<div id="banner2">
    <img src="~/images/bg3.jpg" id="banner2" style="filter:blur(14px);position:absolute;height:100%;width:100%" />
<div class="box" style="margin-top:300px">
    <div class="wave -one"></div>
    <div class="wave -two"></div>
    <div class="wave -three"></div>
    <div class="title">Contact Us</div>
    <div class="sub-title">9026871211</div>
</div>
</div>