@model AdminAppointmentDTO
@using Microsoft.AspNetCore.Http;

@{
    var isvalid = Context.Session.GetString("token");
}

@if (isvalid == null)
{
    <div class="container " style="    height: 100vh; margin: 20px; margin-top: 181px; ">
        <div class=" shadow" style="background-color: floralwhite;">
            <fieldset>
                <legend style="font-size: 54px;
                  text-align: center;
                  color: darkcyan;
                  font-family: math;">
                    Your Report
                </legend>
                <div class="form-group">
                    <label style="margin-left:140px" class="form-label mt-4">Sign In To View Your Report</label>
                    <br>
                    <a style="margin-left:203px" class="btn btn-primary" asp-action="Login" asp-controller="Accounts">Go To Sign In Page</a>
                </div>
            </fieldset>
        </div>
        <div class="fixed-bottom" style="margin-left:5px;">
            <a asp-controller="Patient" method="get" asp-action="Index" type="button" class="btn btn-danger">Back to List</a>

        </div>
    </div>
}
else
{



    @if (Model.patientReports.Count > 0)
    {
        foreach (var reports in Model.patientReports)
        {



            <div class="container ">
                <div class=" shadow" style="background-color: floralwhite;">
                    <fieldset>
                        <legend style="font-size: 54px;
                  text-align: center;
                  color: darkcyan;
                  font-family: math;">
                            Your Report
                        </legend>
                        <div class="form-group">
                            <label class="form-label mt-4" style="margin-left:169px;">Patient :@Model.registerDetails.Name</label>
                            <br>
                            <label class="form-label mt-3">Symptoms :@reports.Symptoms</label>
                            <br>
                            <label class="form-label mt-5">Diognosis :@reports.Diognosis</label>
                            <br>
                            <label class="form-label mt-5"> Medicines :@reports.Medicines</label>
                            <br>
                            <label class="form-label mt-5" style="margin-left: 246px;font-weight: 100;color: grey;">     Dr. @reports.DoctorName </label>

                        </div>
                    </fieldset>
                </div>
                <div class="fixed-bottom" style="margin-left:5px;">
                    <a asp-controller="Patient" method="get" asp-action="Index" type="button" class="btn btn-danger">Back to Dashboard</a>

                </div>
            </div>
        }
    }
    else
    {
        <div class="container ">
            <div class=" shadow" style="background-color: floralwhite;">
                <fieldset>
                    <legend style="font-size: 54px;
                  text-align: center;
                  color: darkcyan;
                  font-family: math;">
                        Your Report
                    </legend>
                    <div class="form-group">
                        <label class="form-label mt-4" style="margin-left:169px;">You have no report</label>
                        <br>

                    </div>
                </fieldset>
            </div>
            <div class="fixed-bottom" style="margin-left:5px;">
                <a asp-controller="Patient" method="get" asp-action="Index" type="button" class="btn btn-danger">Back to List</a>

            </div>
        </div>
    }
}